#temp# importMethodsFrom("AnnotationDbi", "select")
import("Rcpp")
import("R.cache")
import("foreach")
import("doParallel")
import("methods")
import("iterators")
import("data.table")
importFrom("dplyr","group_by","summarise","select","%>%","inner_join",
           "left_join","rename","mutate","filter","group_by_at", "distinct", 
           "top_n","pull")
importFrom("tibble", "rownames_to_column")
importFrom("stringr", "str_sub", "str_replace_all","str_locate_all", "str_detect", "str_length")
importFrom("purrr", "map", "map2", "map_chr")
importFrom("reshape2", "acast")
importFrom("rlang", "!!", "sym")
importFrom("ProtGenerics", "psms")
importFrom("ProtGenerics", "accessions")
importFrom("ProtGenerics", "proteins")
importFrom("mzID", "mzID")
importFrom("mzR","openIDfile","score","modifications","fileName")
importMethodsFrom("mzID", "flatten")
importFrom("parallel", "mclapply", "detectCores","makeCluster",
           "stopCluster","parLapply","clusterExport","clusterEvalQ")
importClassesFrom("MSnbase", "MSnSet")
importClassesFrom("Biobase", "AnnotatedDataFrame")
importFrom("stats", "quantile","rnorm","optim", "median", "density", "complete.cases")
importFrom("Biostrings", "readAAStringSet", "width", "writeXStringSet", 
           "reverse", "AA_STANDARD")
#
importFrom("AnnotationHub", "AnnotationHub")
#temp# importClassesFrom("AnnotationHub", "AnnotationHub")
importFrom("AnnotationHub", "query")
#-----------------------------------------------------------------------------
export("MSnID")
export("MSnIDFilter")
exportMethods("read_mzIDs")
exportMethods("assess_termini")
exportMethods("assess_missed_cleavages")
exportMethods("apply_filter")
exportMethods("evaluate_filter")
exportMethods("id_quality")
exportMethods("optimize_filter")
exportMethods("correct_peak_selection")
exportMethods("mass_measurement_error")
exportMethods("recalibrate")
exportMethods("peptides")
exportMethods("accessions")
exportMethods("proteins")
exportMethods("names")
exportMethods("$", "$<-", "[[", "[[<-")
exportMethods("as.numeric")
exportMethods("length")
exportMethods("update")
exportMethods("names")
exportMethods("show")
exportMethods("dim")
exportMethods("psms", "psms<-")
exportMethods("infer_parsimonious_accessions")
exportMethods("report_mods")
exportMethods("add_mod_symbol")
exportMethods("map_mod_sites")
export("fetch_conversion_table")
export("remap_fasta_entry_names")
export("remap_accessions")

