import("Rcpp")
import("R.cache")
import("foreach")
import("doParallel")
import("methods")
import("iterators")
import("data.table")
importFrom("dplyr","group_by","summarise","select","%>%","left_join","rename")
importFrom("reshape2", "acast")
importFrom("ProtGenerics", "psms")
importFrom("ProtGenerics", "accessions")
importFrom("ProtGenerics", "proteins")
importFrom("mzID", "mzID")
importFrom("mzR","openIDfile","score","modifications","fileName")
importMethodsFrom("mzID", "flatten")
importFrom("parallel", "mclapply", "detectCores","makeCluster",
           "stopCluster","parLapply","clusterExport","clusterEvalQ")
importClassesFrom("MSnbase", "MSnSet")
importClassesFrom("Biobase", "AnnotatedDataFrame")
#-----------------------------------------------------------------------------
export("MSnID")
export("MSnIDFilter")
exportMethods("read_mzIDs")
exportMethods("assess_termini")
exportMethods("assess_missed_cleavages")
exportMethods("apply_filter")
exportMethods("evaluate_filter")
exportMethods("id_quality")
exportMethods("optimize_filter")
exportMethods("correct_peak_selection")
exportMethods("mass_measurement_error")
exportMethods("recalibrate")
exportMethods("peptides")
exportMethods("accessions")
exportMethods("proteins")
exportMethods("names")
exportMethods("$", "$<-", "[[", "[[<-")
exportMethods("as.numeric")
exportMethods("length")
exportMethods("update")
exportMethods("names")
exportMethods("show")
exportMethods("dim")
exportMethods("psms", "psms<-")
exportMethods("infer_parsimonious_accessions")
